                        /***************************************
                        **   Style Page for Basic portfolio   **
                        **             *****                  **  
                        **          & a joke                  **
                        ** What is it called when you wear    **
                        ** A cotton sweater in a black whole? **
                        ****************************************/

body {
    color:       #7777;
    margin:      0px;
    padding:     0px;
    font-family: Arial, Helvetica, sans-serif;

    background-image:url(../images/stripes-light.png)
}

.wrapper {
    width:  960px;
    margin: 0px auto;
}

header {
    background-color: #ffffff;
    font-family:      'Georgia', Times New Roman, Times, serif;
    
    height: 80px;
    width:  100%;

    border-bottom: 2px solid #cccccc;
}

.nav {
    float:   right;
    padding: 30px 0px;
}

.backBox {
    background-color: #4aaaa5;
    font-family:      'Georgia', Times New Roman, Times, serif;
    color:            #ffffff;

    float:   left;
    padding: 0px 20px;
    height:  80px;
}

.about {
    color:     #4aaaa5;
    font-family: Arial, Helvetica, sans-serif;
    margin:      30px 0px 30px 0px;
}

.pic {
    float: left;
    margin: 0px 10px 10px 0px;

    height: 250px;
    width: 250px;
}

.content {
    background-color: #ffffff;
 
    padding: 10px 30px;
    margin:  30px 0px 0px 0px;
    border:  3px solid #dddddd;

    font-family: Arial, 'Helvetica', 'sans-serif';
    font-size:   18px;
    color:       #666666;

}

footer {
    position: fixed;
    left:     0px;
    bottom:   0px;
    height:   50px;
    width:    100%;
    
    
    background-color: #666666;
    color:            #cccccc;

    font-family: Arial, Helvetica, sans-serif;
    font-size:   18px;
    text-align:  center;

    border-top:  10px solid #4aaaa5;
    padding-top: 20px;
}








                        /*CSS added for the contact page*/

form {
    padding: 0px 0px 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
    width:  100%;
    height: 30px;
    margin: 0px 0px 10px 0px;

    font-family: Arial, Helvetica, sans-serif;
}

input[type=button] {
    width: 125px;
}

#sub {
    font-family: Arial, Helvetica, sans-serif;
    background-color:#4aaaa5;
    color: #ffffff;
    border:  none;
    
}

