
body {
    color:       #7777;
    margin:      0px;
    padding:     0px;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
    width:  960px;
    margin: 0px auto;
}

header {
    background-color: #ffffff;
    font-family:      'Georgia', Times New Roman, Times, serif;
    
    height: 80px;
    width:  100%;
}

.nav {
    float:   right;
    padding: 30px 0px;
}

.backBox {
    background-color: #4aaaa5;
    font-family:      'Georgia', Times New Roman, Times, serif;
    color:            #ffffff;

    float:   left;
    padding: 0px 20px;
    height:  90px;

}